/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../img/bgtile.png");
  background-size: initial;
  background-repeat: repeat-x;
}

.container {
  width: 55%;
  margin: 6.5% auto;
  font-size: 0px;
}

.column {
  display: inline-block;
  margin: auto auto;
  vertical-align: top;
}

.phone-col {
  width: 38%;
  margin: 0 1%;
}

.body-col {
  width: 57%;
  margin: 0 1.5%;
}

.logo-col {
  width: 65%;
}

.login-col {
  width: 35%;
  font-size: 16px;
  text-align: right;

}

.text-col {
  font-size: 16px;
  padding: 4% 8%;
  background-image: url("../img/frame.png");
  background-repeat: no-repeat;
}

.bottom {
  margin-top: 5%;
  font-size: 14px;
  text-align: center;
}

.login-button {
  background-color: rgb(24,124,180);
  color: white;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  margin: auto;
}

h2 {
  color: rgb(18,86,136);
}

.phone-col img, .logo-col img {
  width: 100%;
}

.btm-stuff {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 1%;
}

.btm-links {
  color: rgb(18,86,136);
}

.by-insta {
  color: grey;
}
